<div ng-controller="AssetCategoryManagerController as acmCtrl">
    <ng-include src="acmCtrl.baseUrl+'/main.html'"></ng-include>
    <ng-include src="acmCtrl.baseUrl+'/vocabulary.html'"></ng-include>
    <ng-include src="acmCtrl.baseUrl+'/category.html'"></ng-include>
</div>
