@import 'node_modules/@l2u/themes/scss/mixins';

@mixin indicator {
    display: inline-block;
    width: var(--tree-indicator-size);
    height: var(--tree-indicator-size);
    border-radius: var(--tree-indicator-border-radius);
    line-height: 1.2;
    text-align: center;
}

.asset-category-manager-tree {
    // При перетаскивании узлы извлекаются из-под .asset-category-manager,
    // поэтому данные стили не размещены внутри .asset-category-manager.

    border: var(--tree-level-guide-width) solid transparent;
    border-left-color: var(--tree-level-guide-color);
    margin-left: 7px;
    padding-left: 8px;

    & & {
        margin-left: 14px;
        padding-left: 8px;
    }

    .asset-category-manager-dnd & & {
        margin-left: 30px;
    }

    .category {
        display: flex;
        align-items: center;
        min-height: var(--tree-level-height);
        padding-left: 5px;
        border: var(--tree-node-border);
        border-color: transparent;
        border-radius: var(--tree-node-border-radius);
        color: var(--tree-node-color);
        font-size: var(--tree-node-font-size);
        font-weight: var(--tree-node-font-weight);

        &:hover {
            border-color: var(--tree-node-hover-border-color);
        }
    }

    .indicator {
        text-decoration: none;

        span {
            @include indicator;

            &:not(.icon-bookmark-empty):hover {
                background: var(--tree-indicator-hover-background);
            }
        }

        .icon-minus, .icon-plus, .icon-bookmark-empty {
            color: var(--tree-indicator-color);

            &::before {
                font: 12px/1 "Ionicons";
            }
        }

        .icon-minus, .icon-plus {
            &:hover {
                color: var(--tree-indicator-hover-color);
            }
        }

        .icon-minus::before {
            content: "\f209";
        }

        .icon-plus::before {
            content: "\f218";
        }

        .icon-bookmark-empty {
            opacity: var(--tree-indicator-empty-opacity);

            &::before {
                content: "\f218";
            }
        }
    }

    .category-name {
        line-height: 2;
    }

    .archived-label {
        display: inline-block;
        padding: var(--tree-archive-label-padding);
        background: var(--tree-archive-label-background);
        color: var(--tree-archive-label-color);
        border-radius: var(--tree-archive-label-border-radius);
        font-size: var(--tree-archive-label-font-size);
        margin: var(--tree-archive-label-margin);
        position: relative;
        top: 1px;

        &::before {
            font: 20px "Ionicons";
            content: "\f3ec";
            vertical-align: middle;
            margin-right: 6px;
            position: relative;
            top: -2px;
            line-height: 1;
        }
    }

    .angular-ui-tree-handle {
        white-space: nowrap;
        color: var(--tree-handle-color);
        letter-spacing: -1px;
        padding: 0 4px;
        position: relative;
        top: 1px;
    }

    .category-id {
        display: none;
        font-weight: normal;
        color: var(--tree-category-secondary-color);
    }

    .category:hover .category-id {
        display: inline;
    }
}

.asset-category-manager {
    .vocabulary {
        position: relative;
        margin: var(--tree-margin);

        &.add .btn {
            @include primaryButton;
            margin-bottom: 15px;

            &::before {
                content: "+";
            }
        }

        h3 {
            display: flex;
            align-items: center;
            min-height: var(--tree-level-height);
            margin: 0;
            position: relative;
            border: var(--tree-root-border);
            border-color: transparent;
            border-radius: var(--tree-root-border-radius);

            &:hover {
                border-color: var(--tree-root-hover-border-color);
            }

            .toggle {
                display: flex;
                align-items: center;
                line-height: 1.8;
                cursor: pointer;

                &.wide {
                    flex-grow: 1;
                }

                &:hover {
                    color: var(--tree-root-hover-color);
                }
            }

            .indicator span {
                @include indicator;

                &:hover {
                    background: var(--tree-indicator-hover-background);
                }
            }

            h3:hover {
                .vocabulary-name::before {
                    background: #4b61ab;
                }
            }
        }

        .indicator .icon-chevron-down {
            &::before {
                font: 12px/1 "Ionicons";
                content: "\f209";
            }
        }

        &.collapsed {
            .indicator .icon-chevron-down {
                &::before {
                    content: "\f218";
                }
            }
        }
    }

    .angular-ui-tree-empty {
        border: none;
        border-left: var(--tree-level-guide-width) solid;
        border-left-color: var(--tree-level-guide-color);
        background-color: transparent;
        min-height: 0;
        margin-left: 7px;
        padding-left: 11px;
        overflow: hidden;

        &::before {
            content: var(--empty-message);
            display: block;
            border-radius: var(--tree-empty-border-radius);
            background: var(--tree-empty-background);
            margin-top: 5px;
            padding: var(--tree-empty-padding);
            font-size: var(--tree-empty-font-size);
            color: var(--tree-empty-color);
        }
    }

    .angular-ui-tree-placeholder {
        min-height: 0;
        margin: 0;
        border: var(--tree-node-border);
        border-color: var(--tree-node-hover-border-color);
        box-sizing: border-box;
    }
}

.asset-category-manager, .asset-category-manager-tree {
    // При перетаскивании узлы извлекаются из-под .asset-category-manager,
    // при этом стили для .actions общие и для узлов, и для прочих аналогичных
    // кнопок, поэтому размещены под таким селектором.

    .actions {
        display: none;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: var(--tree-actions-padding);

        &:not(.exp) {
            [class|=icon] {
                font: 18px "Ionicons";
                vertical-align: middle;
                margin-right: 5px;
            }

            .icon-plus-sign-2::before {
                content: "\f2c7";
            }

            .icon-edit::before {
                content: "\f37e";
            }

            .icon-minus-sign-alt::before {
                content: "\f4c4";
            }

            .icon-upload-alt::before {
                content: "\f3eb";
            }

            .icon-download-alt::before {
                content: "\f3ec";
            }
        }

        &.exp {
            border-left: var(--tree-node-border);
            border-left-color: var(--tree-node-hover-border-color);

            &:only-of-type {
                border: none;
            }

            .action {
                font-size: 15px;
                padding: var(--tree-exp-action-padding);
             }
        }

        li {
            display: inline;
        }
    }

    .action {
        @include secondaryButton;
        font-size: 11px;
        margin: auto 5px;
        padding: var(--tree-action-padding);
    }

    .vocabulary > h3:hover, .category:hover {
        .actions {
            display: inline;
        }
    }
}

.asset-category-manager {
    .categories-selector-category,
    .users-selector-user {
        display: inline-block;
        padding: var(--tree-selector-item-padding);
        margin: var(--item-selector-item-margin);
        border: var(--item-selector-item-border);
        border-color: var(--item-selector-item-border-color);
        border-radius: var(--item-selector-item-border-radius);
        color: var(--item-selector-item-color);

        button {
            background: none;
            border: none;
            color: var(--item-selector-item-color);
            padding: var(--item-selector-item-button-padding);

            &:active:focus {
                background: transparent;
                color: var(--item-selector-item-color);
            }
        }
    }

    .categories-selector-tree {
        .category-name {
            cursor: pointer;
        }

        input[type="checkbox"]::before {
            font-size: 17px;
        }

        input[type="radio"]::before {
            font-size: 16px;
            top: -10px;
        }
    }

    users-selector [simple-autocompl] {
        display: inline-block;
        position: static;

        .border {
            border: none !important;
        }

        input {
            border: none;

            &:focus {
                box-shadow: none;
            }
        }

        .suggestions {
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 1px solid;
            border-color: var(--item-suggestions-border-color);

            li {
                .highlight {
                    margin: 0;
                    color: var(--item-suggestions-highlight-color);
                    text-decoration: none;
                    background: none;
                }
            }
        }
    }

    clay-dialog {
        form {
            overflow: hidden;
        }

        [type=checkbox] + span {
            margin-left: -5px;
        }

        .lfr-portal-tooltip {
            color: var(--dialog-tooltip-target-color);
        }

        .form-group {
            margin-bottom: 15px;
        }

        .input-localized {
            .form-control {
                padding: var(--dialog-input-padding);
            }

            .input-localized-content {
                margin: 0;
            }

            .lfr-input-localized-default a {
                display: flex;
                align-items: center;
                width: auto;
                height: auto;
                margin-left: 0;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            .lfr-input-localized-flag {
                font-size: var(--dialog-flag-size);
                order: 1;
            }

            &.input-localized-focused .lfr-input-localized-state {
                box-shadow: none;
                background: none;
                width: auto;
                height: auto;
                margin-left: 0;
            }

            .lfr-input-localized-state::before {
                font-family: "Ionicons";
                content: "\f3a6";
                color: --dialog-control-color;
                font-size: 19px;
                padding: 3px;
            }

            .palette-item-selected .lfr-input-localized-state::before {
                content: "\f3a7";
            }
        }

        textarea.form-control {
            height: 164px;
        }

        .modal-header {
            padding: var(--dialog-header-padding);
        }

        .modal-body {
            padding: var(--dialog-body-padding);
            background: var(--dialog-body-background);
        }

        .modal-footer {
            padding-top: 0;
            border: none;
        }
    }
}

.asset-category-manager-tree.angular-ui-tree-drag {
    border: var(--tree-node-border);
    border-color: var(--tree-node-hover-border-color);
    opacity: 1;

    > .angular-ui-tree-node > .category > .angular-ui-tree-handle {
        color: var(--tree-handle-active-color);
    }
}
