<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showAddModCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.saveCategory()">
    <clay-dialog-heading>
        <span ng-if="!acmCtrl.categoryDialog.category" translate>headers.add-category</span>
        <span ng-if="acmCtrl.categoryDialog.category" translate>headers.modify-category</span>
    </clay-dialog-heading>
    <clay-dialog-body>
        <form name="acmCtrl.categoryForm" ng-submit="acmCtrl.saveCategory()" overloader="acmCtrl.categoryDialog.isLoading">
            <div class="category-id" ng-if="acmCtrl.categoryDialog.category.id">ID: {{acmCtrl.categoryDialog.category.id}}</div>
            <div class="form-group">
                <localized-input
                    placeholder="{{acmCtrl.translations.placeholders.categoryName}}"
                    only-lang-required="acmCtrl.defaultLang"
                    simple-lex-validate
                    languages="acmCtrl.languages"
                    current-lang="acmCtrl.currentInputsLang"
                    ng-model=acmCtrl.categoryDialog.categoryData.name
                    name="categoryName">
                </localized-input>
                <div class="help-block" translate ng-show="acmCtrl.categoryForm.categoryName.$dirty&&acmCtrl.categoryForm.categoryName.$invalid">errors.def-lang-required</div>
            </div>
            <div class="form-group">
                <localized-input
                    placeholder="{{acmCtrl.translations.placeholders.categoryDescription}}"
                    languages="acmCtrl.languages"
                    current-lang="acmCtrl.currentInputsLang"
                    multiline
                    ng-model=acmCtrl.categoryDialog.categoryData.description>
                </localized-input>
            </div>
            <div class="form-group" ng-if="acmCtrl.responsiblesEnabled">
                <label translate>labels.responsibles</label>
                <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.category-responsibles'}">
                    <lexicon-icon>question-circle-full</lexicon-icon>
                </span>
                <users-selector ng-model="acmCtrl.categoryDialog.categoryData.responsibles"></users-selector>
            </div>
            <div class="form-group" ng-if="acmCtrl.responsiblesEnabled">
                <label translate>labels.responsibles-inherited</label>
                <users-selector ng-model="acmCtrl.categoryDialog.categoryData.inheritedResponsibles" readonly="true"></users-selector>
            </div>
        </form>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.save</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showDelSimpleCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.deleteCategorySimple()">
    <clay-dialog-heading translate>headers.operation-confirmation</clay-dialog-heading>
    <clay-dialog-body>
        <div overloader="acmCtrl.categoryDialog.isLoading">
            <p translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName}">alerts.delete-category</p>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showDelCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.deleteCategory()">
    <clay-dialog-heading translate>headers.delete-category</clay-dialog-heading>
    <clay-dialog-body>
        <div ng-show="acmCtrl.categoryDialog.step==0">
            <form name="acmCtrl.deleteCategoryForm" ng-submit="acmCtrl.deleteCategory()" overloader="acmCtrl.categoryDialog.isLoading">
                <p ng-if="acmCtrl.categoryDialog.subCategoriesCount" translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName, subCategoriesCount: acmCtrl.categoryDialog.subCategoriesCount}">alerts.category-has-subs</p>
                <p ng-if="acmCtrl.categoryDialog.documentsCount" translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName, documentsCount: acmCtrl.categoryDialog.documentsCount}">alerts.category-has-docs</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="false" ng-model="acmCtrl.categoryDialog.moveObjects">
                            <span translate>options.delete-category-n-subs</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.delete-category-n-subs'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="true" ng-model="acmCtrl.categoryDialog.moveObjects">
                            <span translate>options.delete-category-move-subs</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.delete-category-move-subs'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-show="acmCtrl.categoryDialog.moveObjects">
                    <label translate>labels.category-to-move-to</label>
                    <categories-selector
                        hidden-category="acmCtrl.categoryDialog.category"
                        ng-model="acmCtrl.categoryDialog.categoryToMoveTo"
                        ng-required="acmCtrl.categoryDialog.moveObjects"
                        simple-lex-validate
                        name="categoryToMoveTo">
                    </categories-selector>
                    <div class="help-block" translate ng-show="acmCtrl.deleteCategoryForm.categoryToMoveTo.$dirty&&acmCtrl.deleteCategoryForm.categoryToMoveTo.$invalid">errors.required</div>
                </div>
                <simple-alert show="acmCtrl.categoryDialog.moveObjects&&acmCtrl.categoryDialog.duplicatesWarning" kind="'warning'">
                    <span translate>alerts.delete-category-duplicates-warning</span>
                </simple-alert>
            </form>
        </div>
        <div ng-show="acmCtrl.categoryDialog.step==1">
            <form ng-submit="acmCtrl.deleteCategory()" overloader="acmCtrl.categoryDialog.isLoading">
                <p translate translate-values="{crossLinkedCount: acmCtrl.categoryDialog.crossLinkedCount}">alerts.delete-category-has-cross-linked</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="true" ng-model="acmCtrl.categoryDialog.deleteCrossLinked">
                            <span translate>options.delete-category-delete-cross-linked</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.delete-category-delete-cross-linked'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="false" ng-model="acmCtrl.categoryDialog.deleteCrossLinked">
                            <span translate>options.delete-category-skip-cross-linked</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.delete-category-skip-cross-linked'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.continue</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showArchSimpleCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.archiveCategorySimple()">
    <clay-dialog-heading translate>headers.operation-confirmation</clay-dialog-heading>
    <clay-dialog-body>
        <div overloader="acmCtrl.categoryDialog.isLoading">
            <p translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName}">alerts.archive-category</p>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showArchCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.archiveCategory()">
    <clay-dialog-heading translate>headers.archive-category</clay-dialog-heading>
    <clay-dialog-body>
        <div ng-show="acmCtrl.categoryDialog.step==0">
            <form name="acmCtrl.archiveCategoryForm" ng-submit="acmCtrl.archiveCategory()" overloader="acmCtrl.categoryDialog.isLoading">
                <p ng-if="acmCtrl.categoryDialog.subCategoriesCount" translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName, subCategoriesCount: acmCtrl.categoryDialog.subCategoriesCount}">alerts.category-has-subs</p>
                <p ng-if="acmCtrl.categoryDialog.documentsCount" translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName, documentsCount: acmCtrl.categoryDialog.documentsCount}">alerts.category-has-docs</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="false" ng-model="acmCtrl.categoryDialog.moveObjects">
                            <span translate>options.archive-category-n-subs</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.archive-category-n-subs'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="true" ng-model="acmCtrl.categoryDialog.moveObjects">
                            <span translate>options.archive-category-move-subs</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.archive-category-move-subs'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-show="acmCtrl.categoryDialog.moveObjects">
                    <label translate>labels.category-to-move-to</label>
                    <categories-selector
                        hidden-category="acmCtrl.categoryDialog.category"
                        ng-model="acmCtrl.categoryDialog.categoryToMoveTo"
                        ng-required="acmCtrl.categoryDialog.moveObjects"
                        simple-lex-validate
                        name="categoryToMoveTo">
                    </categories-selector>
                    <div class="help-block" translate ng-show="acmCtrl.archiveCategoryForm.categoryToMoveTo.$dirty&&acmCtrl.archiveCategoryForm.categoryToMoveTo.$invalid">errors.required</div>
                </div>
                <simple-alert show="acmCtrl.categoryDialog.duplicatesWarning" kind="'warning'">
                    <span translate>alerts.archive-category-duplicates-warning</span>
                </simple-alert>
            </form>
        </div>
        <div ng-show="acmCtrl.categoryDialog.step==1">
            <form ng-submit="acmCtrl.archiveCategory()" overloader="acmCtrl.categoryDialog.isLoading">
                <p translate translate-values="{crossLinkedCount: acmCtrl.categoryDialog.crossLinkedCount}">alerts.archive-category-has-cross-linked</p>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="true" ng-model="acmCtrl.categoryDialog.archiveCrossLinked">
                            <span translate>options.archive-category-archive-cross-linked</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.archive-category-archive-cross-linked'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" ng-value="false" ng-model="acmCtrl.categoryDialog.archiveCrossLinked">
                            <span translate>options.archive-category-skip-cross-linked</span>
                        </label>
                        <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.archive-category-skip-cross-linked'}">
                            <lexicon-icon>question-circle-full</lexicon-icon>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.continue</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showUnarchSimpleCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.unarchiveCategory(true)">
    <clay-dialog-heading translate>headers.operation-confirmation</clay-dialog-heading>
    <clay-dialog-body>
        <div overloader="acmCtrl.categoryDialog.isLoading">
            <p translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName}">alerts.unarchive-category</p>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showUnarchCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.unarchiveCategory()">
    <clay-dialog-heading translate>headers.operation-confirmation</clay-dialog-heading>
    <clay-dialog-body>
        <div overloader="acmCtrl.categoryDialog.isLoading">
            <p translate translate-values="{categoryName: acmCtrl.categoryDialog.categoryEscapedName}">alerts.unarchive-category</p>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<!-- <clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showUnarchCategoryDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.categoryDialog.isLoading" action="acmCtrl.unarchiveCategory()">
    <clay-dialog-heading translate>headers.unarchive-category</clay-dialog-heading>
    <clay-dialog-body>
        <form name="acmCtrl.unarchiveCategoryForm" ng-submit="acmCtrl.unarchiveCategory()" overloader="acmCtrl.categoryDialog.isLoading">
            <fieldset ng-disabled="acmCtrl.categoryDialog.neverExpire">
                <label class="control-label" translate>labels.unarchive-category-expiration</label>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <aui-date-picker ng-required="!acmCtrl.categoryDialog.neverExpire" ng-model="acmCtrl.categoryDialog.expirationDate" simple-lex-validate>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <aui-time-picker ng-required="!acmCtrl.categoryDialog.neverExpire" ng-model="acmCtrl.categoryDialog.expirationTime" simple-lex-validate>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model="acmCtrl.categoryDialog.neverExpire">
                        <span translate>options.unarchive-category-never-expire</span>
                    </label>
                </div>
            </fieldset>
        </form>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.continue</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog> --> <!-- INKNOW-1895 -->
