<div class="form-control">
    <span class="categories-selector-category" ng-repeat="category in selectedCategories">
        {{category.name}}
        <button class="btn" type="button" ng-click="unselect($index)"><span class="glyphicon glyphicon-remove"></span></button>
    </span>
    <button class="btn btn-primary" type="button" ng-if="showSelect()" ng-click="openDialog()"><span class="glyphicon glyphicon-search"></span> <span translate>actions.select</span></button>
    <button class="btn btn-primary" type="button" ng-if="showAdd()" ng-click="openDialog()"><span class="glyphicon glyphicon-plus"></span> <span translate>actions.select</span></button>
</div>

<clay-dialog class="acm-cs-dlg" type="modal-lg" trigger="showDialog" disabled="isLoading" cancellation-token="cancellationToken" action="selectCategories()">
    <clay-dialog-heading>
        <span ng-if="isMultiple" translate>headers.select-category</span>
        <span ng-if="!isMultiple" translate>headers.select-categories</h4>
    </clay-dialog-heading>
    <clay-dialog-body>
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                placeholder="{{translations.placeholders.search}}"
                ng-model="searchStrContainer.searchStr"
                ng-model-options="{ debounce: 500 }"
                ng-disabled="!vocabularies.length">
        </div>
        <div overloader="isLoading">

            <div class="categories-selector-tree" ng-if="vocabularies.length&&!searchStrContainer.searchStr">
                <section class="vocabulary" ng-repeat="vocabulary in vocabularies" ng-class="{collapsed:vocabulary.collapsed}">
                    <h3>
                        <span class="toggle wide" ng-click="vocabulary.collapsed=!vocabulary.collapsed">
                            <span class="indicator">
                                <span class="icon-chevron-down"></span>
                            </span>
                            <span class="vocabulary-name">
                                {{vocabulary.name}}
                            </span>
                        </span>
                    </h3>
                    <div
                        class="vocabulary-contents"
                        ui-tree
                        drag-enabled="false"
                        ng-hide="vocabulary.collapsed">
                        <ol class="asset-category-manager-tree" ui-tree-nodes ng-model="vocabulary.categories">
                            <li ng-repeat="category in vocabulary.categories" ui-tree-node ng-include="baseUrl+'/categories-selector-tree.template.html'" collapsed="category.collapsed"></li>
                        </ol>
                    </div>
                </section>
            </div>

            <div class="categories-selector-list" ng-if="searchStrContainer.searchStr">
                <table class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th translate>labels.category</th>
                        <th translate>labels.vocabulary</th>
                    </tr>
                    <tr ng-repeat="category in categoriesList">
                        <td>
                            <input type="checkbox" ng-if="isMultiple" ng-model="category.selected" ng-click="clickCategory(category, $event)">
                            <input type="radio" ng-value="category.id" ng-if="!isMultiple" ng-model="$root.radioSelectedId" ng-click="clickCategory(category, $event)">
                        </td>
                        <td><span class="categories-selector-label" ng-click="clickCategory(category, $event)">{{category.name}}</span></td>
                        <td>{{category.path}}</td>
                    </tr>
                </table>
            </div>

            <simple-alert show="!vocabularies.length&&!isLoading" kind="'danger'">
                <span translate>alerts.no-categories</span>
            </simple-alert>

        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>
