<div class="tree-node-content category">
    <a
        class="indicator"
        ng-class="{pending:isCategoryPending(category)}"
        href="javascript:void(0)"
        ng-click="expandCategory(category)"
        ng-show="!category.isLoading&&(category.hasChildren||category.categories.length)&&collapsed">
        <span class="icon-plus"></span>
    </a>
    <a class="indicator" href="javascript:void(0)" ng-click="category.collapsed=true" ng-show="!category.isLoading&&category.categories.length&&!collapsed">
        <span class="icon-minus"></span>
    </a>
    <span class="indicator empty" ng-show="!category.isLoading&&!category.hasChildren&&!category.categories.length">
        <span class="icon-bookmark-empty"></span>
    </span>
    <span class="indicator loading" ng-show="category.isLoading">
        <span class="icon-refresh icon-spin"></span>
    </span>
    <input type="checkbox" ng-if="isMultiple" ng-model="category.selected" ng-click="clickCategory(category, $event)">
    <input type="radio" ng-if="!isMultiple" ng-value="category.id" ng-model="$root.radioSelectedId" ng-click="clickCategory(category, $event)">
    <span class="category-name" ng-click="clickCategory(category, $event)">{{category.name}}</span>
</div>
<ol class="asset-category-manager-tree" ui-tree-nodes ng-model="category.categories" ng-show="!collapsed">
    <li ng-repeat="category in category.categories" ui-tree-node ng-include="baseUrl+'/categories-selector-tree.template.html'" collapsed="category.collapsed"></li>
</ol>
