<div class="tree-node-content category" ng-class="{archived:category.archived}">
    <span ui-tree-handle ng-if="acmCtrl.dndEnabled">
        <span class="icon-ellipsis-vertical"></span>
        <span class="icon-ellipsis-vertical"></span>
    </span>
    <a
        class="indicator"
        ng-class="{pending:acmCtrl.isCategoryPending(category)}"
        href="javascript:void(0)"
        ng-click="acmCtrl.expandCategory(category)"
        ng-show="!category.isLoading&&(category.hasChildren||category.categories.length)&&collapsed">
        <span class="icon-plus"></span>
    </a>
    <a class="indicator" href="javascript:void(0)" ng-click="acmCtrl.collapseCategory(category)" ng-show="!category.isLoading&&category.categories.length&&!collapsed">
        <span class="icon-minus"></span>
    </a>
    <span class="indicator empty" ng-show="!category.isLoading&&!category.hasChildren&&!category.categories.length">
        <span class="icon-bookmark-empty"></span>
    </span>
    <span class="indicator loading" ng-show="category.isLoading">
        <span class="icon-refresh icon-spin"></span>
    </span>
    <span class="category-name">{{category.name}}</span>
    <span class="archived-label" ng-if="category.archived" translate>labels.archived</span>
    <ul class="actions" ng-if="acmCtrl.editingEnabled">
        <li>
            <button class="action" ng-click="acmCtrl.openCreateCategoryDialog(vocabulary, category)">
                <span class="icon-plus-sign-2"></span>
                <span translate>actions.add</span>
            </button>
        </li>
        <li>
            <button class="action" ng-click="acmCtrl.openModifyCategoryDialog(category, vocabulary)">
                <span class="icon-edit"></span>
                <span translate>actions.edit</span>
            </button>
        </li>
        <li ng-show="!category.archived">
            <button class="action" ng-click="acmCtrl.openArchiveCategoryDialog(category)">
                <span class="icon-download-alt"></span>
                <span translate>actions.archive</span>
            </button>
        </li>
        <li ng-show="category.archived">
            <button class="action" ng-click="acmCtrl.openUnarchiveCategoryDialog(category)">
                <span class="icon-upload-alt"></span>
                <span translate>actions.unarchive</span>
            </button>
        </li>
        <li>
            <button class="action" ng-click="acmCtrl.openDeleteCategoryDialog(category, vocabulary, $parentNodeScope.category, $parent)">
                <span class="icon-minus-sign-alt"></span>
                <span translate>actions.delete</span>
            </button>
        </li>
    </ul>
    <ul class="actions exp" ng-show="category.hasChildren||category.categories.length">
        <li>
            <button class="action" ng-click="acmCtrl.expandCategoryChildren(vocabulary, category)">
                <span class="icon-resize-full"></span>
            </button>
        </li>
        <li>
            <button class="action" ng-click="acmCtrl.collapseCategoryChildren(category)">
                <span class="icon-resize-small"></span>
            </button>
        </li>
    </ul>
    <span class="category-id">ID: {{category.id}}</span>
</div>
<ol class="asset-category-manager-tree" ui-tree-nodes ng-model="category.categories" ng-show="!collapsed">
    <li ng-repeat="category in category.categories" ui-tree-node ng-include="acmCtrl.baseUrl+'/main-tree.template.html'" collapsed="category.collapsed"></li>
</ol>
