<section class="vocabulary add" ng-if="acmCtrl.editingEnabled">
    <button class="btn btn-primary" ng-click="acmCtrl.openCreateVocabularyDialog()">
        <span class="lfr-btn-label" translate>actions.add-vocabulary</span>
    </button>
</section>

<section class="vocabulary" ng-repeat="vocabulary in acmCtrl.vocabularies" ng-class="{collapsed:vocabulary.collapsed}">
    <h3>
        <span class="toggle wide" ng-click="acmCtrl.toggleVocabulary(vocabulary)">
            <span class="indicator" ng-hide="vocabulary.isLoading">
                <span class="icon-chevron-down"></span>
            </span>
            <span class="indicator" ng-show="vocabulary.isLoading">
                <span class="icon-refresh icon-spin"></span>
            </span>
            <span class="vocabulary-name" ng-mouseenter="acmCtrl.onVocabularyEnter($event, vocabulary)" ng-mouseleave="acmCtrl.onVocabularyLeave()">
                {{vocabulary.name}}
            </span>
            <ul class="actions" ng-if="acmCtrl.editingEnabled">
                <li>
                    <button class="action" ng-click="acmCtrl.openCreateCategoryDialog(vocabulary);$event.stopPropagation()">
                        <span class="icon-plus-sign-2"></span>
                        <span translate>actions.add</span>
                    </button>
                </li>
                <li>
                    <button class="action" ng-click="acmCtrl.openModifyVocabularyDialog(vocabulary);$event.stopPropagation()">
                        <span class="icon-edit"></span>
                        <span translate>actions.edit</span>
                    </button>
                </li>
                <li>
                    <button class="action" ng-click="acmCtrl.openDeleteVocabularyDialog(vocabulary);$event.stopPropagation()">
                        <span class="icon-minus-sign-alt"></span>
                        <span translate>actions.delete</span>
                    </button>
                </li>
            </ul>
            <ul class="actions exp" ng-show="!vocabulary.collapsed && acmCtrl.testAllCatsExpandability(vocabulary)">
                <li>
                    <button class="action" ng-click="acmCtrl.expandAllCategories(vocabulary);$event.stopPropagation()">
                        <span class="icon-resize-full"></span>
                    </button>
                </li>
                <li>
                    <button class="action" ng-click="acmCtrl.collapseAllCategories(vocabulary);$event.stopPropagation()">
                        <span class="icon-resize-small"></span>
                    </button>
                </li>
            </ul>
        </span>
    </h3>
    <div
        class="vocabulary-contents"
        ng-class="{'asset-category-manager-dnd':acmCtrl.dndEnabled}"
        ui-tree="acmCtrl.treeOptions"
        drag-enabled="acmCtrl.dndEnabled"
        ng-hide="vocabulary.collapsed"
        ng-style="{'--empty-message': '\'' + acmCtrl.translations.placeholders.vocabularyEmpty + '\''}">
        <ol class="asset-category-manager-tree" ui-tree-nodes ng-model="vocabulary.categories">
            <li ng-repeat="category in vocabulary.categories" ui-tree-node ng-include="acmCtrl.baseUrl+'/main-tree.template.html'" collapsed="category.collapsed"></li>
        </ol>
    </div>
</section>
