<div class="form-control" ng-readonly="readonly">
    <span class="users-selector-user" ng-repeat="user in selectedUsers">
        {{user.name}}
        <button class="btn" type="button" ng-if="!readonly" ng-click="unselect($index)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
    <div
        simple-autocompl
        select-mode
        list="getUsers"
        search-delay="500"
        no-suggestions-text="{{userNotFoundMessage}}"
        ng-model="user"
        ng-hide="readonly">
    </div>
</div>
