<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showAddModVocabularyDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.vocabularyDialog.isLoading" action="acmCtrl.saveVocabulary()">
    <clay-dialog-heading>
        <span ng-if="!acmCtrl.vocabularyDialog.vocabulary" translate>headers.add-vocabulary</span>
        <span ng-if="acmCtrl.vocabularyDialog.vocabulary" translate>headers.modify-vocabulary</span>
    </clay-dialog-heading>
    <clay-dialog-body>
        <form name="acmCtrl.vocabularyForm" ng-submit="acmCtrl.saveVocabulary()" overloader="acmCtrl.vocabularyDialog.isLoading">
            <div class="form-group">
                <label translate>labels.name</label>
                <localized-input
                    only-lang-required="acmCtrl.defaultLang"
                    simple-lex-validate
                    languages="acmCtrl.languages"
                    current-lang="acmCtrl.currentInputsLang"
                    ng-model=acmCtrl.vocabularyDialog.vocabularyData.name
                    name="vocabularyName">
                </localized-input>
                <div class="help-block" translate ng-show="acmCtrl.vocabularyForm.vocabularyName.$dirty&&acmCtrl.vocabularyForm.vocabularyName.$invalid">errors.def-lang-required</div>
            </div>
            <div class="form-group">
                <label translate>labels.description</label>
                <localized-input
                    languages="acmCtrl.languages"
                    current-lang="acmCtrl.currentInputsLang"
                    multiline
                    ng-model=acmCtrl.vocabularyDialog.vocabularyData.description>
                </localized-input>
            </div>
            <div class="form-group form-inline input-radio-wrapper" ng-if="!acmCtrl.vocabularyDialog.vocabulary&&acmCtrl.globalScopeAvail&&acmCtrl.siteScopeAvail">
                <label translate>headers.vocabulary-scope</label>
                <label>
                    <input type="radio" ng-value="true" ng-model="acmCtrl.vocabularyDialog.vocabularyData.isGlobal">
                    <span translate>options.vocabulary-global-scope</span>
                </label>
                <label>
                    <input type="radio" ng-value="false" ng-model="acmCtrl.vocabularyDialog.vocabularyData.isGlobal">
                    <span translate>options.vocabulary-website-scope</span>
                </label>
            </div>
            <div class="form-group form-inline input-checkbox-wrapper">
                <label>
                    <input type="checkbox" ng-model="acmCtrl.vocabularyDialog.vocabularyData.isPublic">
                    <span translate>options.public-vocabulary</span>
                    <span class="lfr-portal-tooltip" translate-attr="{title:'tooltips.public-vocabulary'}">
                        <lexicon-icon>question-circle-full</lexicon-icon>
                    </span>
                </label>
            </div>
            <simple-alert show="acmCtrl.vocabularyDialog.needApproval&&acmCtrl.vocabularyDialog.vocabularyData.isPublic" kind="'warning'">
                <span translate>alerts.public-vocabulary</span>
            </simple-alert>
        </form>
    </clay-dialog-body>
    <clay-dialog-primary-button>
        <span ng-hide="acmCtrl.vocabularyDialog.needApproval&&acmCtrl.vocabularyDialog.vocabularyData.isPublic" translate>actions.save</span>
        <span ng-show="acmCtrl.vocabularyDialog.needApproval&&acmCtrl.vocabularyDialog.vocabularyData.isPublic" translate>actions.confirm-n-save</span>
    </clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showDelSimpleVocabularyDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.vocabularyDialog.isLoading" action="acmCtrl.deleteVocabulary(true)">
    <clay-dialog-heading translate>headers.operation-confirmation</clay-dialog-heading>
    <clay-dialog-body>
        <div overloader="acmCtrl.vocabularyDialog.isLoading">
            <p translate translate-values="{vocabularyName: acmCtrl.vocabularyDialog.vocabularyEscapedName}">alerts.delete-vocabulary</p>
        </div>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.ok</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>

<clay-dialog type="modal-full-screen-sm-down" trigger="acmCtrl.showDelVocabularyDialog" cancellation-token="acmCtrl.cancellationToken" disabled="acmCtrl.vocabularyDialog.isLoading" action="acmCtrl.deleteVocabulary()">
    <clay-dialog-heading translate>headers.delete-vocabulary</clay-dialog-heading>
    <clay-dialog-body>
        <form ng-submit="acmCtrl.deleteVocabulary()" overloader="acmCtrl.vocabularyDialog.isLoading">
            <p translate translate-values="{vocabularyName: acmCtrl.vocabularyDialog.vocabularyEscapedName, categoriesCount: acmCtrl.vocabularyDialog.categoriesCount}">alerts.vocabulary-has-categories</p>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" ng-value="false" ng-model="acmCtrl.vocabularyDialog.moveCategories" ng-disabled="!acmCtrl.transferVocabularies.length">
                        <span translate>options.delete-vocabulary-n-categories</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" ng-value="true" ng-model="acmCtrl.vocabularyDialog.moveCategories" ng-disabled="!acmCtrl.transferVocabularies.length">
                        <span translate>options.delete-vocabulary-move-categories</span>
                    </label>
                </div>
            </div>
            <div class="form-group" ng-show="acmCtrl.vocabularyDialog.moveCategories">
                <label translate>labels.vocabulary-to-move-to</label>
                <select class="form-control"
                    ng-model="acmCtrl.vocabularyDialog.vocabularyToMoveTo"
                    ng-options="vocabulary.name for vocabulary in acmCtrl.transferVocabularies"
                ></select>
            </div>
            <simple-alert show="acmCtrl.vocabularyDialog.moveCategories&&acmCtrl.vocabularyDialog.duplicatesWarning" kind="'warning'">
                <span translate>alerts.vocabulary-duplicates-warning</span>
            </simple-alert>
        </form>
    </clay-dialog-body>
    <clay-dialog-primary-button translate>actions.continue</clay-dialog-primary-button>
    <clay-dialog-close-button translate>actions.cancel</clay-dialog-close-button>
</clay-dialog>
